{% for imp in imports %}{{ imp }}
{% endfor %}
interface Props {
{% for prop in cls.props %}    {{ prop.name }}: {{ prop.type }}
{% endfor %}}

const {{ cls.modelNamePascal }}Table = ({ {{ cls.propList }} }: Props) => {
    const { t } = useTranslation()
    const dataQuery = use{{ cls.modelNamePascalPlural }}List({{ cls.queryArgs }})

    const columns = useMemo((): ColumnDef<{{ cls.modelNamePascal }}>[] => {
        return [
            {% for column in cls.columns %}{{ column }}
            {% endfor %}
        ]
    }, [t, module])

    const buttons = useMemo((): TableButtonDef[] => {
        return [
            {
                id: "newDailyTodosWidget",
                label: t("Main.new"),
                link: `/modules/daily-todos/${module.id}/widgets/new`,
            },
        ]
    }, [t, module])

    return <Table id="{{ cls.modelNamePascalPlural }}" title={t("{{ cls.modelNamePascal }}.plural_title")} columns={columns} buttons={buttons} subject={t("{{ cls.modelNamePascal }}.plural_name")} dataQuery={dataQuery} />
}

export default {{ cls.modelNamePascal }}Table
